{% extends 'base.html.twig' %}

{% block body %}
    <p class="subtitle2">JAKOŚĆ I DOŚWIADCZENIE</p>
    <p>
        Firma Elpex rozpoczęła swoją działalność w 2001 roku. Podstawowym obszarem naszych usług jest profesjonalne
        <a href="{{ url('offers') }}" title="Więcej informacji na temat naszych usług">wykonawstwo robót elektrycznych, elektroenergetycznych jak i teletechnicznych we wszelkich typach obiektów.</a>
        W 2012 roku firma przekształciła się z Przedsiębiorstwa Projektowania i Wykonywania Robót Elektrycznych "Elpex" na bardziej przyjazną "Elpex".
    </p>
    <p>
        Dodatkowo świadczymy również usługi w zakresie projektowania sieci elektroenergetycznych niskiego oraz
        średniego napięcia.
    </p>
    <p>Od początku istnienia stawiamy na profesjonalizm, jakość oraz konkurencyjność cenową. Fachowość oraz kompetencja, zarówno w pracy, jak i w kontakcie z klientem, pozwoliła nam na szybki i dynamiczny rozwój firmy. Jesteśmy doświadczonym i wykwalifikowanym partnerem biznesowym. W naszej pracy stawiamy na bezpieczne rozwiązania, które gwarantuje wykorzystanie nowoczesnych rozwiązań technicznych.</p>
    <p>
        Główna siedziba firmy mieści się w miejscowości Przyjmo ul.Dolna 2 . W 2009 roku uruchomiliśmy również
        <a href="{{ url('contact') }}" title="Sprawdź mapę dojazdu">biuro handlowe przy ulicy Mielczarskiego 121 w Kielcach</a>.
    </p>
    <p class="subtitle2">WYBRANE INWESTYCJE</p>
    <ul class="about__list">
        <li>
            <p>Budowa Centrum Handlowo-Usługowego Plaza Center w Krakowie.<u>Wybrany zakres prac:</u></p>
            <ul>
                <li>wykonanie kompletnej instalacji supermarketu "Bricomarche";</li>
                <li>zasilenie dla butików w formie przewodów szynowych Canalis firmy Schneider Electric;</li>
                <li>wykonanie instalacji do zliczania osób;</li>
                <li>okablowanie wraz z montażem osprzętu rozdzielni oświetleniowych oraz oświetlnia zewnętrznego cżęści
                    budynku.
                </li>
            </ul>
        </li>
        <li>
            <p>Budowa Rezydencji Prezydenckiej w miejscowości Jurata - Hel.<u>Wybrany zakres prac:</u></p>
            <ul>
                <li>wykonanie kompleksowej instalacji elektrycznej w systemie EIB na wyrobnikach firmy Gira.</li>
            </ul>
        </li>
        <li>
            <p>Budowa Hotelu "Ibis" w Warszawie.<u>Wybrany zakres prac:</u></p>
            <ul>
                <li>wykonanie częściowej instalacji elektrycznej;</li>
                <li>montaż koryt i drabinek kablowych;</li>
                <li>układanie WLZ;</li>
                <li>podłączenie i uruchomienie rozdzielni głównej.</li>
            </ul>
        </li>
        <li>
            <p>Budowa Basenu Olimpijskiego w Ostrowcu Świętokrzyskim.<u>Wybrany zakres prac:</u></p>
            <ul>
                <li>wykonanie kompleksowej instalacji elektrycznej.</li>
            </ul>
        </li>
        <li>
            <p>Remont i przebudowa budynku kamienicy "Pod Trzema Herbami" na Muzeum Dialogu Kultur w Kielcach.<u>Wybrany zakres prac:</u></p>
            <ul>
                <li>wykonanie kompleksowej instalacji elektrycznej w systemie EIB;</li>
                <li>montaż rozdzielnic elektrycznych;</li>
                <li>instalacja oddymiania, SAP, CCTV, SSWiN oraz sieci strukturalnej.</li>
            </ul>
        </li>

    </ul>
{% endblock %}
