{% extends 'base.html.twig' %}

{% block body %}
    <p class="subtitle2">JAKOŚĆ I DOŚWIADCZENIE</p>
    <p>
        Firma Elpex rozpoczęła swoją działalność w 2001 roku. Podstawowym obszarem naszych usług jest profesjonalne
        <a href="{{ url('offers') }}" title="Więcej informacji na temat naszych usług">wykonawstwo robót elektrycznych, elektroenergetycznych jak i teletechnicznych we wszelkich typach obiektów.</a>
        W 2012 roku firma przekształciła się z Przedsiębiorstwa Projektowania i Wykonywania Robót Elektrycznych Elpex na bardziej przyjazną Elpex.
    </p>
    <p>
        Dodatkowo świadczymy również usługi w zakresie projektowania sieci elektroenergetycznych niskiego oraz
        średniego napięcia.
    </p>
    <p>Od początku istnienia stawiamy na profesjonalizm, jakość oraz konkurencyjność cenową. Fachowość oraz kompetencja, zarówno w pracy, jak i w kontakcie z klientem, pozwoliła nam na szybki i dynamiczny rozwój firmy. Jesteśmy doświadczonym i wykwalifikowanym partnerem biznesowym. W naszej pracy stawiamy na bezpieczne rozwiązania, które gwarantuje wykorzystanie nowoczesnych rozwiązań technicznych.</p>
    <p>
        Główna siedziba firmy mieści się w miejscowości Przyjmo ul.Dolna 2 . W 2009 roku uruchomiliśmy również
        <a href="{{ url('contact') }}" title="Sprawdź mapę dojazdu">biuro handlowe przy ulicy Romualda Mielczarskiego 121 w Kielcach</a>.
    </p>
    <p class="subtitle2">WYBRANE INWESTYCJE</p>
    <ul class="about__list">
        <li>
            <p>Budowa Centrum Handlowo-Usługowego Plaza Center w Krakowie.</p>
        </li>
        <li>
            <p>Budowa Rezydencji Prezydenckiej w miejscowości Jurata - Hel.</p>
        </li>
        <li>
            <p>Budowa Hotelu "Ibis" w Warszawie.</p>
        </li>
        <li>
            <p>Budowa Basenu Olimpijskiego w Ostrowcu Świętokrzyskim.</p>

        </li>
        <li>
            <p>Remont i przebudowa budynku kamienicy "Pod Trzema Herbami" na Muzeum Dialogu Kultur w Kielcach.</p>
        </li>
        <li>
            <p>Budowa Centrum Handlowo-Usługowego Plaza Center w Krakowie</p>
        </li>
        <li>
            <p>Budowa Rezydencji Prezydenckiej w miejscowości Jurata - Hel</p>
        </li>
        <li>
            <p>Remont i rozbudowa instalacji elektrycznej na budowie Szkoły Podstawowej w Kobylnicy koło Słupska</p>
        </li>
        <li>
            <p>Budowa Hotelu "Ibis" w Warszawie</p>
        </li>
        <li>
            <p>Budowa Hali portowej w Stoczku Łukowskim</p>
        </li>
        <li>
            <p>Budowa Basenu Olimpijskiego w Ostrowcu Świętokrzyskim</p>
        </li>
        <li>
            <p>Budowa budynku mieszkalnego Natolin w Warszawie na ul. Lanciego</p>
        </li>
        <li>
            <p>Budowa budynku mieszkalno - komunalnego na ul. Jagiellońskiej w Kielcach</p>
        </li>
        <li>
            <p>Budowa Sali Sportowej z basenem przy Zespole Szkół Ogólnokształcących nr 4 w Kielcach na ul. Jasnej 20/22</p>
        </li>
        <li>
            <p>Wymiana kompletnej instalacji elektrycznej w budynkach przy ul. Grunwaldzkiej 41 i 43 w Kielcach</p>
        </li>
        <li>
            <p>Przebudowa i rozbudowa istniejącej hali magazynowej - Stalprodukt S.A. w Bochni</p>
        </li>
        <li>
            <p>Rozbudowa hali produkcyjnej Wydziału Profili Giętych wraz z infrastrukturą w Stalprodukt S.A w Bochni</p>
        </li>
        <li>
            <p>Budowa budynku mieszkalno - wielorodzinnego z częścią handlowo - usługową w Kielcach przy ul. Nałkowskiej 2A</p>
        </li>
        <li>
            <p>Budowa dwóch budynków mieszkalnych w rejonie ul. Puscha w Kielcach</p>
        </li>
        <li>
            <p>Remont i przebudowa budynku kamienicy "Pod Trzema Herbami" na Muzeum Dialogu Kultur w Kielcach</p>
        </li>
        <li>
            <p>Budowa budynku mieszkalnego, wielorodzinnego, z infrastrukturą techniczną i zagospodarowaniem terenu przy ul. Orkana 46 w Kielcach</p>
        </li>
        <li>
            <p>Rozbudowa i przebudowa pawilonu D na oddziały odwykowe w Świętokrzyskim Centrum Psychiatrii w Morawicy</p>
        </li>
        <li>
            <p>Rozbudowa i przebudowa Szpitala Powiatowego w Chmielniku</p>
        </li>
        <li>
            <p>Nadbudowa, przebudowa i rozbudowa kompleksu sanatoryjnego "Bristol" w Busku Zdroju</p>
        </li>
        <li>
            <p>Budowa osiedla mieszkaniowego BOCIANEK NOWY przy ul.Konopnickiej w Kielcach</p>
        </li>
        <li>
            <p>Rozbudowa i przebudowa układu komunikacyjnego obejmującego odcinek ul. Radiowej i Al. Tysiąclecia PP w Kielcach</p>
        </li>
        <li>
            <p>Budowa ulicy Gagarina i ulicy Mariana Sołtysiaka "Barabasza"w Kielcach</p>
        </li>
        <li>
            <p>Dostawa i wymiana opraw oświetlenia ulicznego na terenie miasta Kielce</p>
        </li>
        <li>
            <p>Oświetlenie ulicy Orkana na odcinku od ul. Jeleniowskiej do ul. Klonowej</p>
        </li>
        <li>
            <p>Oświetlenie ulicy Orląt Lwowskich na odcinku od ul. Sikorskiego do drogi wewnętrznej dz. 844/288 w Kielcach</p>
        </li>
        <li>
            <p>Przebudowa oświetlenia ulicy Grunwaldzkiej na odcinku od ul. Podklasztornej do ul. Jagiellońskiej w Kielcach</p>
        </li>
        <li>
            <p>Modernizacja ulicy Paderewskiego w Kielcach od ronda Giedroycia do ul. Sienkiewicza</p>
        </li>
        <li>
            <p>Budowa budynku mieszkalnego wielorodzinnego przy ul. Sikorskiego w Kielcach</p>
        </li>
        <li>
            <p>Przebudowa budynku nr 5 do potrzeb szkoleniowo - socjalnych na terenie kompleksu wojskowego w Sochaczewie</p>
        </li>
        <li>
            <p>Budowa Domu Kultury pełniącego funkcję Domu Tradycji Ursynowa przy ul. Kajakowej w Warszawie</p>
        </li>
    </ul>
{% endblock %}
