{% extends 'base.html.twig' %}

{% block body %}
    <div class="tabs">
        <nav class="contact__nav">
            <button class="contact__button" data-toggle="contact__map">Mapa</button>
            <button class="contact__button" data-toggle="contact__form">Formularz kontaktowy</button>
        </nav>
        <div class="contact__article contact__map contact__active">
            <div id='map' style="height: 500px; border: 1px solid #e40001; background: #ffffff;"></div>
        </div>
        <div class="contact__article contact__form">
            <p>Dziękujemy za zainteresowanie naszymi usługami.</p>
            <p class="red">Uprzejmie prosimy o dokładne wypełnienie wszystkich pól.</p>

            <form action="" method="post">
                <div class="form-controller">
                    <label for="contact-name">Imię i nazwisko / Firma</label>
                    <input type="text" name="name" id="contact-name" class="input__text" placeholder="Imię i nazwisko / Firma" title="Imię i nazwisko / Firma">
                </div>
                <div class="form-controller">
                    <label for="contact-email">Adres e-mail</label>
                    <input type="text" name="email" id="contact-email" class="input__text" placeholder="Adres e-mail" title="Adres e-mail">
                </div>
                <div class="form-controller">
                    <label for="contact-phone">Numer telefonu</label>
                    <input type="text" name="phone" id="contact-phone" class="input__text" placeholder="Numer telefonu" title="Numer telefonu">
                </div>
                <div class="form-controller">
                    <label for="contact-text">Treść wiadomości</label>
                    <textarea name="text" id="contact-text" class="input__textarea" rows="5" placeholder="Treść wiadomości" title="Treść wiadomości"></textarea>
                </div>
                <button type="submit" class="input__button">Wyślij</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const tabs = (contactButtons, contactArticles) => {
            contactButtons.forEach(contactButton => {
                contactButton.addEventListener('click', () => {
                    const article = document.querySelector('.' + contactButton.getAttribute('data-toggle'));
                    contactArticles.forEach(contactArticle => contactArticle.classList.remove('contact__active'));

                    article.classList.toggle('contact__active');
                });
            });
        };


        const mapStart = (img1, img2) => {
            const coordinates = new google.maps.LatLng(50.935065470134774, 20.5718994140625);
            const optionsMaps = {
                zoom: 11,
                center: coordinates,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            const map = new google.maps.Map(document.querySelector('#map'), optionsMaps);

            const icon1 = new google.maps.MarkerImage(img1);
            const icon2 = new google.maps.MarkerImage(img2);

            const coordinates1 = new google.maps.LatLng(50.87717962596785, 20.61450898647308);
            const coordinates2 = new google.maps.LatLng(50.98178974645286, 20.51842153072357);

            const markerOptions1 = {
                position: coordinates1,
                title: 'Biuro handlowe',
                icon: icon1,
                map: map
            };

            const markerOptions2 = {
                position: coordinates2,
                title: 'Siedziba główna',
                icon: icon2,
                map: map
            };

            new google.maps.Marker(markerOptions1);

            new google.maps.Marker(markerOptions2);
        };

        const contactButtons = document.querySelectorAll('.contact__button');
        const contactArticles = document.querySelectorAll('.contact__article');

        tabs(contactButtons, contactArticles);

        const img1 = '{{ asset('assets/img/logo_mapa.png') }}';
        const img2 = '{{ asset('assets/img/logo_mapa.png') }}';

        mapStart(img1, img2);

        const autosize = textareas => {
            textareas.forEach(text => {
                text.addEventListener('focus', () => {
                    const observe = window.attachEvent ?
                        (element, event, handler) => element.attachEvent('on' + event, handler) :
                        (element, event, handler) => element.addEventListener(event, handler, false);

                    const resize = () => {
                        text.style.height = 'auto';
                        text.style.height = text.scrollHeight+'px';
                    };

                    const delayedResize = () => window.setTimeout(resize, 0);

                    observe(text, 'change',  resize);
                    observe(text, 'cut',     delayedResize);
                    observe(text, 'paste',   delayedResize);
                    observe(text, 'drop',    delayedResize);
                    observe(text, 'keydown', delayedResize);

                    text.focus();
                    text.select();
                    resize();
                });
            });
        };

        const textarea = document.querySelectorAll('#contact-text');
        autosize(textarea);
    </script>
{% endblock %}