{% extends 'base.html.twig' %}

{% block body %}
    <p class="text">
        Firma Elpex oferuje usługi z zakresu profesjonalnego wykonawstwa robót elektroenergetycznych oraz instalacji
        teletechnicznych w systemie EIB. W ramach naszych usług zajmujemy się również projektowaniem sieci
        elektroenergetycznych, ze szczególnym uwzględnieniem poniższych komponentów:
    </p>
    <p class="subtitle2">
        SIECI ELEKTRYCZNE
    </p>
    <ul>
        <li>Instalacje WLZ</li>
        <li>Instalacje oświetlenia wewnętrznego</li>
        <li>Instalacje oświetlenia ulicznego</li>
        <li>Montaż rozdzielni elektrycznych niskiego i średniego napięcia</li>
        <li>Instalacje odgromowe i wyrównawcze</li>
        <li>Roboty ziemne dla robót elektroenergetycznych</li>
        <li>Kompleksowe projektowanie sieci</li>
        <li>Pomiary elektryczne</li>
    </ul>
    <p class="subtitle2">
        INSTALACJE TELETECHNICZNE
    </p>
    <ul>
        <li>Instalacje inteligentnego budynku EIB</li>
        <li>Instalacje oddymiania</li>
        <li>Instalacje SAP</li>
        <li>Instalacje przyzywowe</li>
        <li>Instalacje domofonowe</li>
        <li>Instalacje telewizji przemysłowej CCTV</li>
        <li>Instalacje sygnalizacji włamania i napadu</li>
        <li>Instalacje sieci strukturalnych</li>
        <li>Instalacje kontroli dostępu</li>
    </ul>
{% endblock %}
