{% extends 'base.html.twig' %}

{% block body %}
    <article class="references">
        {% for reference in references %}
            <section class="reference__img {% if reference.id == 1 %}reference-active{% endif %}">
                <img src="{{ vich_uploader_asset(reference, 'imageFile') }}" alt="Slide">
            </section>
        {% endfor %}
    </article>
{% endblock %}

{% block aside %}
    <section class="reference__section__button">
        {% for reference in references %}
            <button class="reference-button {% if reference.id == 1 %}reference-button-active{% endif %}" data-id="{{ reference.id }}"><span>{{ reference.number }}<sub>{{ reference.subNumber }}</sub></span></button>
        {% endfor %}
    </section>
{% endblock %}

{% block js %}
    <script>
        const referenceButtons = document.querySelectorAll('.reference-button');

        const referenceImgs = document.querySelectorAll('.reference__img');

        referenceButtons.forEach(referenceButton => {
            referenceButton.addEventListener('click', () => {
                referenceImgs.forEach(reference => reference.classList.remove('reference-active'));
                referenceButtons.forEach(item => item.classList.remove('reference-button-active'));

                referenceImgs[referenceButton.getAttribute('data-id') - 1].classList.toggle('reference-active');
                referenceButton.classList.toggle('reference-button-active');
            });
        });
    </script>
{% endblock %}