.tabs {
    overflow: hidden;
    position: relative;
	top: -84px;
    width: 500px;
    height: 586px;
	padding: 0px;
	margin-bottom: -56px;
}

.podmenu a {
color: #e40001;
text-decoration: none;
padding: 5px;
margin: 0px 0px 0px 15px;
float: right;
}

.podmenu a:hover, #kontakt .mapa, #formularz .formularz {
color: #ffffff;
text-decoration: none;
background: #e40001;
}

.tabs ul { 
width: 300px;
padding: 0px;
margin: 0px;
position: relative;
left: 286px;
}

.tabs li { 
display: inline; 
float: left;
}
.tabs ul li a.selected {
color: #ffffff;
text-decoration: none;
background: #e40001;
}
.content {
    margin: 0px;
    width: 480px;
    position: absolute;
    top: 84px;
    left: 400px;
    opacity: 0;
}
.content.active {
    left: 0px;
    opacity: 1;
	margin: 0px;
}

.content.inactive {
    left: 0px;
    opacity: 1;
	margin: 0px;
	position: absolute;
    left: 500px;
}